<h1>Check Out Your Business Card</h1>
<h3>{{CC.user.name}}</h3>
<a ng-href="https://www.github.com/{{CC.user.userName}}">{{CC.user.userName}}</a>
<img ng-src="{{CC.user.imageUrl}}" alt="Picture of Eugene">
<section>
  <div>
    <p>Repo Number One</p>
    <select ng-model= "CC.repoOne" ng-options= "repo.name for repo in CC.user.repos.data" ></select>
      <p>{{CC.repoOne.description}}</p>
      <a ng-href="{{CC.repoOne.html_url}}">Check out {{CC.repoOne.name}}</a>
  </div>
  <div>
    <p>Repo Number Two</p>
    <select ng-model= "CC.repoTwo" ng-options= "repo.name for repo in CC.user.repos.data"></select>
      <p>{{CC.repoTwo.description}}</p>
      <a ng-href="{{CC.repoTwo.html_url}}">Check out {{CC.repoTwo.name}}</a>
  </div>
  <div>
    <p>Repo Number Three</p>
    <select ng-model= "CC.repoThree" ng-options= "repo.name for repo in CC.user.repos.data"></select>
    <p>{{CC.repoThree.description}}</p>
    <a ng-href="{{CC.repoThree.html_url}}">Check out {{CC.repoThree.name}}</a>
  </div>
</section>
